---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import HeroBanner from '../components/Hero/HeroBanner.astro';
import Projects from '../components/Projects/Projects.astro';
import Experience from '../components/Experience/Experience.astro';
import Skills from '../components/Skills/Skills.astro';
import Contact from '../components/Contact/Contact.astro';
import FloatingContactIcons from '../components/Contact/FloatingContactIcons';
---

<Layout>
	<Navbar />
	<FloatingContactIcons client:load />
	<HeroBanner />
	<div class="bg-gradient-to-b from-[#1a1a1a] to-[#1a1a1a]/95">
		<Projects />
		<Experience />
		<Skills />
		<Contact />
	</div>
</Layout>
