---
import { siteConfig } from '../../config/site.config';

const { location } = siteConfig;
---

<div
  id="map-container"
  class="w-full h-[300px] rounded-xl overflow-hidden hover:shadow-lg transition-shadow duration-300"
>
  <iframe
    src={location.mapUrl}
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
