---

---

<div
  id="map-container"
  class="w-full h-[300px] rounded-xl overflow-hidden hover:shadow-lg transition-shadow duration-300"
>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249744.04472537467!2d-77.15258405314252!3d-12.026254189203438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses-419!2spe!4v1743868990964!5m2!1ses-419!2spe"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
